@CHARSET "utf-8";

.dataTables_filter, .dataTables_scroll {
	margin-bottom: 20px;
}
.form-horizontal {
	text-align: center;
}

.tab-content {
	width: 100% !important;
}

div.alert {
	text-align: center;
}

div#button-add {
	text-align: right;
	width: 100%;
	margin-bottom: 10px;
}

div.panel-heading {
	padding-bottom: 40px !important;
}

div.panel-default {
	margin-top: 10px !important;
}

div.panel-heading a#editar {
	margin-right: 10px;
}

.nav-tabs > li.active > a {
	background-color: #f5f5f5;
	font-weight: bold;
}
.nav-tabs > li.active > a:hover {
	background-color: #f5f5f5;
}
.nav-tabs > li.active > a:focus {
    color: black;
    background-color: #f5f5f5;  
}
.nav-tabs > li > a {
	font-weight: bold;
}